h1 {
  padding-top: 26px;
  padding-bottom: 26px;
  font-weight: 400;
  font-size: 36px;
}

.wp-block-heading {
  font-size: 20px;
}

p {
  font-size: 16px;
  font-weight: 100;
  color: #000000;
}

.wp-block-list {
  @apply list-disc;
  font-size: 16px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 100;
  color: #000000;
}

.has-fixed-layout {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  font-size: 16px;
}

.has-fixed-layout th,
.has-fixed-layout td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.has-fixed-layout td {
  font-weight: 100;
  color: #000000;
}

.has-fixed-layout th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.has-fixed-layout tr:nth-child(even) {
  background-color: #f9f9f9;
}

.has-fixed-layout tr:hover {
  background-color: #f5f5f5;
}

p > a {
  color: #007bff;
  text-decoration: none;
}

p > a:hover {
  color: #0056b3;
  text-decoration: underline;
}
